body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 18px;
    margin: 10px 0;
}

.messi-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    background-color: #00a2ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #008ae6;
}

.hidden {
    display: none;
}

#hiddenMessage {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
